LineFit WS/.metadata/
LineFit WS/.recommenders/
LineFit WS/LineFit/bin/
LineFit WS/LineFit/.settings/
LineFit WS/LineFit/doc/
LineFit WS/LineFitHelp.pdf
Test Files/*.pdf
Test Files/*.jpg
Test Files/*.gz
Test Files/*.gz(busy)
Test Files/*.aux
Test.jar
*.aux
*.out
*.gz
*.toc
